:root {
    /*FUENTES*/
    --title-font:'Mate SC';
    --content-font: 'Roboto Condensed';

    /*COLORES*/
    --background-black: #201E1C;
    --foreground-black: #282623;
    --background-white: #E5E5E5;
    --foreground-white: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: var(--content-font);
    min-width: 320px;
}
body {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
}

h2 {
    /* DIMENSIONES*/
    margin-top: 40px;
    width: 90%;
    font-size: 2.8rem;
    
    /* COLORES */
    font-family: var(--title-font);
}

/* HEADER */
header{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    min-width: 320px;
    /* height: 334px; */
    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #ff00f2 100%);
}

.header--logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    margin: 30px 0;
}

.header--logo-container p {
    margin-left: 5px;
    font-family: var(--title-font);
    color: violet;
    font-weight: bold;
}

.header--logo-container img{
    width: 50px;
    height: 45px;
    margin-right: 5px;
}

.header--title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--title-container h1 {
    font-size: 2.8rem;
    color: white;
    width: 90%;
}

.header--title-container p {
    font-size: 1.5rem;
    color: rgba(245, 245, 245, 0.74);
    margin: 10px 0 50px 0;
    width: 90%;
}

.header--title-container a {
    position: relative;
    margin: -24px 0px;
    padding: 15px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.137);
}

.header--title-container a span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

main > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main--rating-showcase {
    /* POSICIÓN */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONES */
    width: 100%;

    /* COLORES Y OTROS ESTILOS */
    background-color: var(--background-white);
}

.main--rating-showcase > img {
     /* DIMENSIONES */
     margin-top: 60px;
}

.main--rating-showcase > p {
    font-size: 1.5rem;
    color: #757575;
    margin: 10px 0 30px 0;
    width: 90%; 
}

.main--rating-showcase--table-container {
    /* POSICIÓN */
    align-self: center;
    display: flex;
    align-items: center;
    overflow-x: scroll;

    /* DIMENSIONES */
    width: 90%;

    /* COLORES Y OTROS ESTILOS */
}

.table-container {
    /* POSICIÓN */
    display: flex;
    flex-direction: column;

    /* DIMENSIONES */
    width: 100%;
    min-width: 337.5px;
    margin: 10px 0px;

    /* COLORES Y OTROS ESTILOS */
}

#critics-container {
    /* DIMENSIONES */
    margin-right: 30px;
}

.table-container > p {
    /* POSICIÓN */
    text-align: left;
    display: inline-block;
    align-self: flex-start;

    /* DIMENSIONES */

    /* COLORES Y OTROS ESTILOS */
    font-family: var(--content-font);
    font-size: 1.9rem;
    font-weight: 700;
    color: purple;
    
}

.table-container div {
    /* POSICIÓN */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* DIMENSIONES */
    /* width: 100%; */
    margin-top: 20px;

    /* COLORES Y OTROS ESTILOS */
    background-color: var(--foreground-white);
    border-radius: 10px;
}

.table-container div p {
    /* DIMENSIONES */
    font-size: 1.5rem;
    
    /* COLORES */
    border-top: 1px solid var(--background-white);
    border-right: 1px solid var(--background-white);
}

.table-element {
    /* POSICIÓN */

    /* DIMENSIONES */
    padding: 5px;

    /* COLORES Y OTROS ESTILOS */
}

.table-title {
    /* POSICIÓN */
    grid-column: 1/3;
}

.table-title a {
    /* POSICIÓN */
    grid-column: 1/3;

    /* DIMENSIONES */

    /* COLORES Y OTROS ESTILOS */
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.table-data {
    /* POSICIÓN */

    /* DIMENSIONES */

    /* COLORES Y OTROS ESTILOS */
    color: rgb(145, 145, 145);
}


#update-disclosure {
    /* POSICIÓN */

    /* DIMENSIONES */
    margin: 20px 0 40px 0;
    padding: 10px;

    /* COLORES Y OTROS ESTILOS */
    color: black;
    font-size: 1.5rem;
    background-color: rgba(128, 0, 128, 0.13);
    border-radius: 10px;
}

.main--features {
    /* POSICIÓN */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* DIMENSIONES */

    
    /* COLORES */
    background-color: var(--background-black);
    color: white;
}

.main--features > img {
    position: absolute;
    top: -30px;
}

#features-slogan {
    font-size: 1.5rem;
    color: rgba(245, 245, 245, 0.74);
    margin: 25px 0 25px 0;
    width: 90%; 
}

.main--feature-container {
    /* POSICIÓN */
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    /* DIMENSIONES */
    margin: 10px;
    padding: 16px;
    
    /* COLORES */
    background-color: var(--foreground-black);
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.253);
    
}

.main--feature-title {
    /* POSICIÓN */

    /* DIMENSIONES */
    margin: 15px 0px;

    /* COLORES Y OTROS ESTILOS */
    font-weight: bold;

}

.main--feature-description {
    /* POSICIÓN */

    /* DIMENSIONES */
    margin: 0px 0px 15px 0px;

    /* COLORES Y OTROS ESTILOS */
    color: #808080;
    font-size: 1.4rem;
    text-align: left;
}

/*****************************************************/

.main--images-rail {
    /* COLORES */
    background-color: purple;
    color: white;
}

.main--images-rail img {
    /* POSICIÓN */

    /* DIMENSIONES */
    width: 100%;

    /* COLORES Y OTROS ESTILOS */
    filter: grayscale(100%);
    opacity: 0.5;
}

.main--images-rail h2 {
    /* POSICIÓN */
    position: absolute;
    align-self: center;

    /* DIMENSIONES */
    margin: 25px 0px 0px 0px;
}

/*****************************************************/

#main--price-selection {
    /* POSICIÓN */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONES */

    /* COLORES Y OTROS ESTILOS */
    background-color: var(--background-white);
}

#main--price-selection > p {
    font-size: 1.5rem;
    color: #757575;
    margin: 10px 0 40px 0;
    width: 90%; 
}

.main--price-selection--card-container {
    /* POSICIÓN */
    display: flex;
    overflow-x:scroll;

    /* DIMENSIONES */
    width: 100%;
    padding: 0 20px;

    /* COLORES Y OTROS ESTILOS */
    background-color: var(--background-white);
}

.game-card {
    /* POSICIÓN */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* DIMENSIONES */
    width: 80%;
    /* max-width: 226px; */
    min-width: 300px;
    margin: 0px 20px 30px 20px;

    /* COLORES Y OTROS ESTILOS */
    background-color: var(--foreground-white);
    border-radius: 15px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.253);

}

.game-card > p:first-child {
    /* POSICIÓN */

    /* DIMENSIONES */
    margin: 10px;

    /* COLORES Y OTROS ESTILOS */
    font-size: 2rem;
    font-weight: 500;
}

.game-card > p:nth-child(2) {
    /* POSICIÓN */
    display: flex;

    /* DIMENSIONES */
    margin: 0px 0px 10px 0;

    /* COLORES Y OTROS ESTILOS */
    font-size: 4rem;
    font-weight: 500;
}

.game-card > p:nth-child(2) span {
    /* POSICIÓN */

    /* DIMENSIONES */
    padding-top: 10px;
    margin-right: 10px;

    /* COLORES Y OTROS ESTILOS */
    font-size: 1.5rem;
}

.game-card > img {
    /* POSICIÓN */

    /* DIMENSIONES */
    max-width: 200px;
    width: 70%;
    height: 100px;

    /* COLORES Y OTROS ESTILOS */
    background-color: purple;
}

.game-card--name {
    /* POSICIÓN */

    /* DIMENSIONES */
    margin: 10px 0;
    padding: 0 10px;

    /* COLORES Y OTROS ESTILOS */
    font-family: var(--title-font);
    font-size: 3rem;
}

.game-card--choose-button {
    /* POSICIÓN */

    /* DIMENSIONES */
    margin: 10px 0;
    padding: 10px;

    /* COLORES Y OTROS ESTILOS */
    text-decoration: none;
    font-size: 2rem;
    background-color: rgba(128, 0, 128, 0.171);
    border-radius: 10px;
}

.game-card--choose-button img {
    /* POSICIÓN */

    /* DIMENSIONES */
    padding-left: 10px;
    padding-top: 5px;

    /* COLORES Y OTROS ESTILOS */
}


/*****************************************************/

/* FOOTER STYLES */

footer {
    /* DISPLAY AND POSITION */
    display: flex;
    justify-content: space-around;
    align-items: center;
        
    /* DIMENSIONS */
    height: 100px;
    padding: 60px 0;
    
    /* COLORS AND OTHER STYLES */
    background-color: purple;
    font-weight: bold;
    color: white;
    font-family: var(--content-font);
}

#footer--social-media-section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* COLORS AND OTHER STYLES */
    color: inherit;
}

#footer--social-media-section img {
    filter: invert(1);
}

#footer--logo-contact-section a {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* COLORS AND OTHER STYLES */
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}